:root {
    --bg: #fafafa;
    --bgSoft: #ADD8E6;
    --text: black;
    --textSoft: #9394a5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg);
    color: var(--text)
}

a {
    color: inherit;
    text-decoration: none;
}